module.exports = {
/**
 * Application configuration section
 * http://pm2.keymetrics.io/docs/usage/application-declaration/
 */
  apps : [
    {
      name      : "API",
      script    : "./src/server.js",
      env: {
        COMMON_VARIABLE: ,
        DB_USER: ,
        DB_PASSWORD: ,
        DB_DATABASE: ,
        NODE_ENV: 
      },
    },
  ],
}

